/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.row {
    background-image: linear-gradient(rgba(0, 0, 0, 0.382), rgba(0, 0, 0, 0.503)), url('https://static.vecteezy.com/system/resources/previews/003/580/719/non_2x/abstract-black-polygon-violet-light-futuristic-technology-design-background-vector.jpg');
    border: 50%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    padding-block: 4%;
    border-radius: 15px;
}

.col-lg-1 {
    padding-left: 8%;
}

.btn {
    border-top: 5vh;
    border-bottom: 5vh;
    border-color: white;
    width: 120px;
    height: 170px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.129), rgba(0, 0, 0, 0.129)), url('https://static.vecteezy.com/system/resources/previews/003/580/719/non_2x/abstract-black-polygon-violet-light-futuristic-technology-design-background-vector.jpg')
}

.badge {
    font-size: 10vh;
    display: flex;
    justify-content: center;
}